.place__title {
    margin: 0;
    grid-row: 1;
    grid-column: 1;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #fff;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 5.5vw;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    font-size: 10vw;
    margin: 0 16px 0;
  }
}