.photo-grid {
  padding-top: 92px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 14px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
      padding-top: 88px;
      grid-gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      width: calc(100% - 24px * 2);
  }
}
@media screen and (max-width: 425px) {
  .photo-grid {
      padding-top: 64px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-gap: 12px;
      width: calc(100% - 16px * 2);
  }
}