.lead__title {
    margin: 0 auto;
    font-size: 96px;
    font-style: normal;
    line-height: 104%;
    font-weight: 900;
    color: #fff;
    max-width: 720px;
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 110%;
        margin: 0 auto;
    }
}