.intro {
    padding-top: 92px;
    max-width: 984px;
    margin: 103px auto 0;
    margin: 0 auto;
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
  .intro {
    max-width: 960px;
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    max-width: 720px;
    margin: 0 24px 0 24px;
  }
}
@media screen and (max-width: 425px) {
  .intro {
    padding-top: 64px;
    max-width: 288px;
    margin: 0 16px 0 16px;
  }
}
