.lead__subtitle {
    font-size: 30px;
    line-height: 120%;
    font-weight: normal;
    color: #fff;
    max-width: 640px;
    margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
      margin: 32px auto 56px;
    }
  }
  
@media screen and (max-width: 768px) {
    .lead__subtitle {
      font-size: 30px;
      line-height: 120%;
    }
  }
  
@media screen and (max-width: 425px) {
    .lead__subtitle {
      font-size: 16px;
      line-height: 125%;
      margin: 16px auto 40px;
      max-width: 288px;
    }
  }