.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    margin: 92px auto 0;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    overflow: hidden;
  }
  @media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
      min-height: 640px;
    }
  }
  @media screen and (max-width: 768px) {
    .cover {
      margin-top: 90px;
      min-height: 480px;

    }
  }
  @media screen and (max-width: 600px) {
    .cover {
      margin-top: 66px;
      min-height: 200px;
    }
  }