.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    max-width: 1184px;
    max-height: 740px;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    justify-content: center;
    padding: 19% 0;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
}
.cover__overlay::after {
    content: '';
    background: rgba(42, 44, 47, .3);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background .3s ease;
    z-index: 2;
}
.cover__overlay:hover::after {
    background: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-height: 480px;
    }
}
@media screen and (max-width: 320px) {
    .cover__overlay {
        width: 100%;
        height: 100%;
    }
}