.intro__title {
    max-width: 690px;
    margin: 0 0 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #fff;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
        width: 288px;
    }
}